.border{
    border: 2px solid black;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.m-top{
    margin-top: 8px;
}
/* Width */
::-webkit-scrollbar {
    width: 10px; /* Change this value as needed */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Change this to your desired background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Change this to your desired scrollbar color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Change this to your desired scrollbar color on hover */
  }
.nav{
    display: flex;
    gap: 15px;
}
.nav svg{
    cursor: not-allowed;
}  
.gap{
    gap: 10px;
}